*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.qr{
    display: flex;
    flex-direction: column;
}
.qr img{
    width: 300px;
}
.input1{
    width: 300px;
    height: 35px;
    border-radius: 3px;
}